.label {
    -fx-font-size: 20px;
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-font-family: Playbill;
    -fx-text-fill: #ffe4c4;

}
#populationLabel {
    -fx-text-fill: #111111;
}
#phosphorLabel {
    -fx-text-fill: #111111;
}
#phosphorText {
    -fx-text-fill: #111111;
}
