.label {
    -fx-font-size: 22px;
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-font-family: Playbill;
    -fx-text-fill: #ffe4c4;
    -fx-background-color: #222222;
}

#seasonsProgress {
    -fx-accent: #ffe4c4;
}
