.text-area {
    user-select: none;
    -fx-font-size: 22px;
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-font-family: Playbill;
    -fx-text-fill: #4064f7;

}
.text-area .content {
    -fx-background-color: #fee4c4;
}